.class-tile {
    border: 2px solid #000;
    width: 447px;
    padding: 14px;
    line-height: 44px;
    border-radius: 22px;
    background-color: #dc8989;
}

h4 {
    margin: 0;
    color: #000;
}

h5 {
    margin: 0;
}